<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidwatch" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidWatch" >
        <activity
            android:name=".UsersView.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminView.PersonalInfoActivity"
            android:exported="true"
            android:label="Personal Information" />
        <activity
            android:name=".AdminView.ResourceRequestCaseActivity"
            android:exported="true" />
        <activity
            android:name=".AdminView.ViewRecordActivity"
            android:exported="true" />
        <activity
            android:name=".AdminView.EscalatedCaseActivity"
            android:exported="true" />
        <activity
            android:name=".SecurityQuestionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdminView.AddRecord2Activity"
            android:exported="true" />
        <activity
            android:name=".AdminView.AddRecordActivity"
            android:exported="true" />
        <activity
            android:name=".AdminView.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>